<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.KmcsTaskMapper">


    <select id="selectByPage" resultType="com.example.entity.KmcsTask">
        select * from user ${ew.customSqlSegment}
    </select>
    <select id="selectById"  resultType="com.example.entity.KmcsTask" parameterType="java.lang.String">
        select * from kmcs_task
        where 1=1
        <if test="task_id != null">
            AND task_id =  #{taskId}
        </if>
       </select>


    <!-- 根据id删除数据 -->
    <delete id="deleteByTaskId" parameterType="java.lang.String">
        DELETE FROM kmcs_task WHERE task_id = #{taskId}
    </delete>

    <!-- 更新数据 -->
    <update id="updateKmcsTask" parameterType="com.example.entity.KmcsTask">
        UPDATE kmsc_task
        SET task_id = #{taskId},  app_id = #{appId},barcode = #{barcode}, experiment_no = #{experimentNo}
        ,test_item_code = #{testItemCode},test_item_name = #{testItemName},big_org_code = #{bizOrgCode}
        WHERE task_id = #{taskId}
        <if test="name != null and name != ''">
            AND name = #{name}
        </if>
        <if test="age != null">
            AND age = #{age}
        </if>
    </update>

    <insert id="insertKmcsTask" parameterType="com.example.entity.KmcsTask">
        INSERT INTO kmcs_task(task_id,app_id,barcode,expeiment_no,test_item_code
        ,test_item_name,big_org_code,lab_task_id,status,version,created_time,
        updated_time,created_by,updated_by )
        VALUES(#{taskId},
               #{appId},#{barcode},#{experimentNo},
               #{testItemCode},#{testItemName},#{bizOrgCode},#{labTaskId},#{status},#{version},#{createdTime}
               ,#{updatedTime},#{createdBy},#{updatedBy})
        <if test="task_id != null and task_id != ''">
            AND task_id = #{task_id}
        </if>
    </insert>


</mapper>